/* Общие */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}

@font-face {
    font-family: 'calypso';
    src: url("/fonts/Calypso.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

:root {
    /* MAIN */
    --main-red: #AD142B;
    --main-dark: #2B2C2E;
    --main-black: #202124;

    /* LIGHT */


    /* BG */
    --bg-white: #FFFFFF;
    --bg-lgrey: #EDEDED;

    /* STROKE */
    --stroke-pink: #FFB9C5;
    --stroke-grey: #DEDEDE;

    /* TEXT */
    --t-black: #212121;
    --t-white: #FFFFFF;
    --t-grey-light: #EBEBEB;
    --t-disabled: #6B6B6B;

    /* BUTTON */
    --btn-text: #FFFFFF;

    --btn: #AD142B;
    --btn-hover: #CF1733;
    --btn-click: #850F21;
    --btn-disabled: #9C9494;

    --btn-s-hover: #AD142B;
    --btn-s-click: #850F21;
    --btn-s-disabled: #9C9494;

    /* INPUT */
    --input-bg:#e1e1e6;
    --input-text: #6B6B6B;

    /* GAP */
    --gap-menu: 20px;
    --gap-10: 10px;
    --gap-16: 16px;
    --gap-24: 24px;
    --gap-36: 36px;
}

a, p, ul, li, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--t-black);
}

h1, h2, h3 {
    font-family: 'calypso';
    color: var(--t-black);
}

a, .link-logo {
    text-decoration: none;
    color: var(--t-white);
    cursor: pointer;
}

a:hover {
    color: var(--main-red);
    transition: color 300ms linear;
}


.link-logo:hover {
    color: var(--secondary-light);
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
    }
}

.btn {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--btn);
    border-radius: 4px;
    border: none;
    color: var(--t-white);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    padding: 14px 32px;
    width: fit-content;
}

.btn:hover {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--btn-hover);
    color: var(--t-white);
    transition: all 300ms linear;
}

.btn:active {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--btn-s-click);
    color: var(--btn-text);
    transition: all 100ms linear;
}

.btn-secondary {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid var(--btn-s-hover);
    border-radius: 4px;
    color: var(--btn-s-hover);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    padding: 14px 32px;
    width: fit-content;
    cursor: pointer;
}

.btn-secondary:hover {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--btn-s-hover);
    border: 1px solid var(--btn-s-hover);
    color: var(--btn-text);
    transition: all 300ms linear;
}

.btn-secondary:active {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid var(--btn-s-click);
    color: var(--btn-s-click);
    transition: all 100ms linear;
}

.btn-arrow {
    display: flex;
    gap: 8px;
    align-items: center;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 110%;
    color: var(--t-white);
    text-transform: uppercase;
}

@media (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h1 {
        font-size: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 80px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h1 {
        font-size: 100px;
    }
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 120%;
    color: var(--t-black);
    padding-top: 64px;
}

.img {
    object-fit: contain;
}

/* header */

.background-img {
    background-image: url(/images/bg-header.png);
    background-size: cover;
    background-position: top;
}

.section-logo {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-ticket {
    display: flex;
    gap: var(--gap-24);
}

.hamburger-menu {
    display: none;
}

.hamburger-line {
    width: 24px;
    height: 2px;
    background: var(--t-white);
}

@media (max-width: 600px) {
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
    }
}

.title-hero {
    width: 70%;
}

@media (max-width: 600px) {
    .title-hero {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .title-hero {
        width: 100%;
    }
}

.title-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 200px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-menu);
}

@media (max-width: 600px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .nav-list {
        display: none;
    }
}

.nav-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: var(--t-white);
    text-align: end;
}

/* о музее */

.bg-about {
    background-image: url(/images/image-1.png);
    /* background-size: 50vw 100%; */
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.about-text {
    width: 45%;
    padding: 0px 32px 64px 0px;
}

.about-discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    padding: 24px 0px;
}

/* Выставки */

/* События */

/* Лекторий */

.section-lecture {
    padding-bottom: 64px;
}

.lecture {
    display: flex;
}

.lectures-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 67%;
}

.lectures-item {
    border-bottom: 1px solid var(--stroke-grey);
    padding-right: 32px;
}

.lectures-item:last-child {
    border-bottom: 0px solid var(--stroke-grey);
}

.date {
    background-color: var(--main-red);
    padding: 7px 9px 6px 9px;
    display: inline-block;
}

.date-text {
    font-size: 14px;
    line-height: 120%;
    color: var(--t-white);
}

.title-lectures {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    padding: 12px 0px 16px 0px;
}

.tickets {
    width: 33%;
    padding-left: 24px;
    border-left: 1px solid var(--stroke-grey);
}

.title-tickets {
    font-family: 'Calypso';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    padding-bottom: 16px;
}

.description-tickets {
    font-size: 18px;
    padding-bottom: 24px;
}

/* Footer */

.footer {
    border-top: 1px solid var(--stroke-grey);
}

.section-footer {
    border-right: 1px solid var(--stroke-grey);
    border-left: 1px solid var(--stroke-grey);
}

.footer-list {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    width: 67%;
}

.footer-item {
    padding: 24px;
    /* width: calc(100% / 3); */
    width: 33%;
    border-right: 1px solid var(--stroke-grey);
}

.footer-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    padding-bottom: 12px;
}

.footer-menu-item {
    font-size: 16px;
}

.footer-item-info {
    padding: 24px;
    width: calc(100% / 2); 
    border-left: 1px solid var(--stroke-grey);
}

.footer-item-info:first-child {
    border-left: 0px solid var(--stroke-grey);
}

.footer-info {
    display: flex;
}

.footer-item-descriprion {
    font-size: 16px;
    padding-bottom: 16px;
}

.subscription {
    display: flex;
    flex-direction: column;

    border: none;
    padding: 10px 12px 5px 12px;
    background: var(--input-bg);
    border-radius: 4px; 
    color: var(--input-text);

    margin-bottom: 10px;
}

.input-form {
    border: none;
    background: var(--input-bg);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: var(--input-text);
}

.input-form:focus {
    outline: none;
}

label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    color: var(--input-text);
}

.btn-width {
    width: 100%;
}

.info-discription {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    border-top: 1px solid var(--stroke-grey);
}

.info-discription-item {
    font-size: 13px;
}